In [1]:
%config IPCompleter.greedy=True

In [2]:
def BlockType(s):
    s = s.strip().lower()
    if s == "irregular":
        return 1
    if s == "regular":
        return 2
    if s == "corner":
        return 3
    return 0
def Storey(s):
    s = s.strip().lower()
    if s == "single":
        return 1
    if s == "double":
        return 2
    return 0

In [3]:
import pandas as pd
import scipy.stats as ss
from sklearn.preprocessing import StandardScaler

In [16]:
#ata = pd.read_csv('BDataFile.csv',encoding='utf8')
data = pd.read_csv('BDataFile.csv',encoding='utf8',converters={"BlockType":BlockType,"Storey":Storey})

#storey = set(data['Storey'])
#data
data2=data.insert(0,[0,'test','test','test',1,2,673511,0,1,3,2,508,3,148])
print(data2)

df = pd.DataFrame(data, columns=['Storey', 'CarSpaces', 'Price', 'Study', 'Ensuite','BedRooms','LandSize','BlockType','HouseSize']).astype('float64')

sc_X = StandardScaler()
df = sc_X.fit_transform(df)
df

TypeError: insert() missing 1 required positional argument: 'value'

In [5]:
num_cols = len(df[0,:])
for i in range(num_cols):
    col = df[:,i]
    col_stats = ss.describe(col)
    print(col_stats)

DescribeResult(nobs=3443, minmax=(-0.6182037148050761, 1.6175897621632813), mean=-1.5787545537510212e-16, variance=1.0002905287623474, skewness=0.9993860473582054, kurtosis=-1.0012275283457426)
DescribeResult(nobs=3443, minmax=(-3.9039167559946573, 0.25615300286934894), mean=-2.0843687572399106e-16, variance=1.0002905287623474, skewness=-3.647763753125308, kurtosis=11.30618039861483)
DescribeResult(nobs=3443, minmax=(-2.2770671825317614, 16.7323274488314), mean=3.2194210507863965e-16, variance=1.0002905287623474, skewness=2.8164181636512655, kurtosis=35.226085507902496)
DescribeResult(nobs=3443, minmax=(-0.7258300546909606, 1.377732974181916), mean=1.2382388656870755e-17, variance=1.0002905287623474, skewness=0.6519029194909554, kurtosis=-1.5750225835591691)
DescribeResult(nobs=3443, minmax=(0.0, 0.0), mean=0.0, variance=0.0, skewness=0.0, kurtosis=-3.0)
DescribeResult(nobs=3443, minmax=(-3.2411225177709047, 2.245202373421438), mean=1.2795134945433115e-16, variance=1.0002905287623478, skewness=-0.6467692152572989, kurtosis=0.8816379035474831)
DescribeResult(nobs=3443, minmax=(-0.09504819866125877, 41.44224985454262), mean=6.1911943284353774e-18, variance=1.0002905287623476, skewness=41.34593832902279, kurtosis=1710.4305109060251)
DescribeResult(nobs=3443, minmax=(-2.1842524963520478, 1.7510595627479526), mean=9.493164636934246e-17, variance=1.0002905287623474, skewness=0.1786392834834858, kurtosis=0.6148502494273629)
DescribeResult(nobs=3443, minmax=(-1.6882569394154416, 3.6853262056627396), mean=1.650985154249434e-16, variance=1.0002905287623474, skewness=0.9591096537177064, kurtosis=0.9079577597422754)

In [10]:
data

,Packageid,HouseName,Facade,Brand,Storey,CarSpaces,Price,Study,Ensuite,BedRooms,BathRooms,LandSize,BlockType,HouseSize
0,189951,Vermont,Strider,Gen,1,2,397139,0,1,4,2,660,1,251
1,191453,Carlton,Haring,Gen,1,2,731295,0,1,4,2,511,1,218
2,191454,Kooyong,Dowd,Gen,1,2,738395,0,1,4,2,511,1,224
3,191455,Mckinnon,Rainforest,Gen,2,2,853595,1,1,5,2,511,1,340
4,191456,Ashwood,Matisse,Gen,2,2,849395,1,1,4,2,511,1,352
5,191855,Spotswood,Sunseeker,Gen,1,2,587835,1,1,4,2,512,2,284
6,192808,Strathmore,Dowd,Gen,1,2,399155,0,1,4,2,450,2,234
7,192809,Malvern,Sunseeker,Gen,1,2,404805,0,1,4,2,451,2,234
8,192811,Collingwood,Arkley,Gen,1,2,360115,0,1,3,2,449,2,172
9,192815,Canterbury,Woodland,Gen,1,2,394255,0,1,4,2,448,2,234
10,192822,Deepdene,Laing,Gen,1,2,393565,0,1,4,2,451,2,225
11,192823,Camberwell,Haring,Gen,1,1,359335,0,1,3,2,449,2,160
12,192824,Caulfield,Nolan,Gen,1,2,391255,0,1,4,2,448,2,231
13,192825,Hawthorn,Condor,Gen,2,2,507945,1,1,4,2,450,2,395
14,192827,Mckinnon,Urban,Gen,2,2,494535,1,1,4,2,451,2,307
15,192830,Elwood,Matisse,Gen,2,2,458725,1,1,3,2,449,2,239
16,192831,Mason,Aqua,Elements,2,2,529745,1,1,4,2,448,2,341
17,192842,Hawthorn,Streeton,Gen,2,2,473795,1,1,4,2,448,2,333
18,194047,Collingwood,Drysdale,Gen,1,2,673512,0,1,3,2,508,3,148
19,197408,Carlton,Dowd,Gen,1,2,386459,0,1,4,2,660,1,218
20,197656,Strathmore,Nolan,Gen,1,2,755625,1,1,4,2,511,1,268
21,197657,Thornbury,Strider,Gen,1,2,755825,0,1,4,2,511,1,264
22,202109,Templestowe,Dowd,Gen,1,2,1086400,1,1,4,2,632,1,240
23,202520,Deepdene,Arkley,Gen,1,2,1059309,0,1,4,2,632,1,225
24,202525,Strathmore,Haring,Gen,1,2,1062409,0,1,4,2,632,1,234
25,202527,Hawthorn,Condor,Gen,2,2,1176806,1,1,4,2,632,1,395
26,203592,Ormond,Laing,Gen,1,2,756612,1,1,4,2,508,3,263
27,203659,Strathmore,Laing,Gen,1,2,438765,0,1,4,2,692,2,251
28,203664,Carlton,Strider,Gen,1,2,424955,0,1,4,2,692,2,218
29,203683,Deepdene,Dowd,Gen,1,2,440215,0,1,4,2,692,2,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3413,226892,Ivanhoe,Haring,Gen,1,2,539950,0,1,3,2,440,3,207
3414,226893,Cremorne,Dowd,Gen,1,2,514999,0,1,4,2,392,2,172
3415,226894,Caulfield,Nolan,Gen,1,2,532270,0,1,3,2,392,2,207
3416,226895,Deepdene,Strider,Gen,1,2,577330,0,1,4,2,448,2,246
3417,226896,Strathmore,Arkley,Gen,1,2,584530,1,1,4,2,448,2,268
3418,226898,Carlton,Drysdale,Gen,1,2,596127,0,1,4,2,400,2,206
3419,226899,Ivanhoe,Drysdale,Gen,1,2,593080,0,1,3,2,400,2,207
3420,226900,Kooyong,Drysdale,Gen,1,2,596347,0,1,4,2,400,2,211
3421,226901,Ripponlea,Monet,Gen,2,2,542447,1,1,4,2,231,2,207
3422,226902,Ashwood,Matisse,Gen,2,2,589550,1,1,4,2,295,3,241
3423,226903,Fitzroy,Condor,Gen,2,2,623600,1,1,4,2,350,2,323
3424,226904,Elwood,Matisse,Gen,2,2,571130,1,1,3,2,472,3,224
3425,226905,Ivanhoe,Dowd,Gen,1,2,467500,0,1,3,2,350,2,207
3426,226906,Canterbury,Alpine,Gen,1,2,549860,0,1,4,2,540,3,234
3427,226907,Cremorne,Drysdale,Gen,1,2,494520,0,1,4,2,513,1,172
3428,226908,Spotswood,Woodland,Gen,1,2,529920,0,1,3,2,528,2,223
3429,226909,Sandringham,Haring,Gen,1,2,457730,0,1,3,2,434,3,151
3430,226910,Kingsbury,Monet,Gen,2,1,455400,1,1,3,2,306,3,169
3431,226911,Carlton,Nolan,Gen,1,2,505280,0,1,4,2,500,3,206
3432,226912,Kooyong,Strider,Gen,1,2,496620,0,1,4,2,490,3,224
3433,226913,Sandringham,Drysdale,Gen,1,2,494607,0,1,3,2,289,3,151
3434,226914,Kingsbury,Matisse,Gen,2,1,557287,1,1,3,2,289,3,169
3435,226915,Canterbury,Drysdale,Gen,1,2,677557,0,1,4,2,434,2,234
3436,226916,Canterbury,Drysdale,Gen,1,2,666697,0,1,4,2,434,2,234
3437,226917,Macleod,Haring,Gen,1,2,612000,0,1,4,2,448,2,238
3438,226918,Canterbury,Drysdale,Gen,1,2,653997,0,1,4,2,448,2,234
3439,226919,Caulfield,Dowd,Gen,1,2,658597,0,1,4,2,448,2,231
3440,226920,Bellfield,Haring,Gen,1,1,533427,0,1,4,2,336,2,184
3441,226921,Ripponlea,Condor,Gen,2,2,602297,1,1,4,2,336,2,215
3442,226922,Clifton,Drysdale,Gen,1,1,509127,0,1,2,2,336,2,130

In [7]:
df

array([[-0.61820371,  0.256153  , -1.43579429, ...,  0.00446314,
        -2.1842525 ,  0.14847628],
       [-0.61820371,  0.256153  ,  1.00680565, ..., -0.01907208,
        -2.1842525 , -0.35245096],
       [-0.61820371,  0.256153  ,  1.05870494, ..., -0.01907208,
        -2.1842525 , -0.26137328],
       ...,
       [-0.61820371, -3.90391676, -0.43956181, ..., -0.04671412,
        -0.21659647, -0.86855782],
       [ 1.61758976,  0.256153  ,  0.06386131, ..., -0.04671412,
        -0.21659647, -0.3979898 ],
       [-0.61820371, -3.90391676, -0.61718896, ..., -0.04671412,
        -0.21659647, -1.68825694]])